<!-- myapp/templates/myapp/profile.html -->
{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'myapp/css/profile.css' %}"
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- Firebase JS SDK (compat version) -->
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>
    <script>
      // Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyCd5k7se1ovRs8xtkPCvsZpvfsqyeSbbQ0",
        authDomain: "innerflock-d05ee.firebaseapp.com",
        projectId: "innerflock-d05ee",
        storageBucket: "innerflock-d05ee.appspot.com",
        messagingSenderId: "751941751214",
        appId: "1:751941751214:web:4a2b792e49087d102b383f",
        measurementId: "G-6SR6P5VP7R",
      };

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
    <script>
      firebase.auth().onAuthStateChanged(function(user) {
        if (user) {
          user.getIdToken(true).then(function(idToken) {
            fetch('/profile/', {
              method: 'GET',
              headers: {
                'Authorization': 'Bearer ' + idToken
              },
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch((error) => console.error('Error:', error));
          });
        } else {
          console.log("User is not logged in.");
        }
      });
      </script>
      <script>
        firebase.auth().onAuthStateChanged(function(user) {
          if (!user) {
            window.location.href = '/signin/';
          } else {
            console.log("User is logged in.");
          }
        });
      </script>
      <script>
        function firebaseLogout() {
          firebase
            .auth()
            .signOut()
            .then(function () {
              // Redirect to your sign-in page or home page after logout
              window.location.href = "/signin/";
            })
            .catch(function (error) {
              console.error("Firebase Logout Error", error);
            });
        }
      </script>
  </head>
  <body>
    <h1>User Profile</h1>
    <section>
      <table class="table table-striped">
        <tbody>
          {% if user_profile_data %}
          <tr>
            <th scope="row">Username:</th>
            <td>{{ user_profile_data.username }}</td>
          </tr>
          <tr>
            <th scope="row">Email:</th>
            <td>{{ user_profile_data.email }}</td>
          </tr>
          <tr>
            <th scope="row">School:</th>
            <td>{{ user_profile_data.school }}</td>
          </tr>
          <tr>
            <th scope="row">User Role:</th>
            <td>{{ user_profile_data.role }}</td>
          </tr>
          {% else %}
          <tr>
            <td colspan="2">No data available</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </section>

    <footer>
      <a href="javascript:void(0);" onclick="firebaseLogout()">Logout</a>>
    </footer>
  </body>
</html>
{% endblock %}