{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/profile.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <!-- Firebase JS SDK (compat version) -->
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.10/firebase-auth-compat.js"></script>
    <script>
      // Firebase configuration
      const firebaseConfig = {
        apiKey: "AIzaSyCd5k7se1ovRs8xtkPCvsZpvfsqyeSbbQ0",
        authDomain: "innerflock-d05ee.firebaseapp.com",
        projectId: "innerflock-d05ee",
        storageBucket: "innerflock-d05ee.appspot.com",
        messagingSenderId: "751941751214",
        appId: "1:751941751214:web:4a2b792e49087d102b383f",
        measurementId: "G-6SR6P5VP7R"
      };

      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
  </head>
  <body>
    <header>
      <h1>User Profile</h1>
    </header>

    <section>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th scope="row">Username:</th>
            <td>{{ user_profile.user.username }}</td>
          </tr>
          <tr>
            <th scope="row">Email:</th>
            <td>{{ user_profile.user.email }}</td>
          </tr>
          <tr>
            <th scope="row">School:</th>
            <td>{{ user_profile.school_name }}</td>
          </tr>
        </tbody>
      </table>
    </section>

    <footer>
      <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="javascript:void(0);" onclick="firebaseLogout()">Logout</a>
    </footer>

    <script>
      function firebaseLogout() {
        console.log("Attempting to log out...");
        firebase
          .auth()
          .signOut()
          .then(function () {
            // window.location.href = "{% url 'home' %}";
            window.location.href = "/";

          })
          .catch(function (error) {
            console.log("Firebase Logout Error", error);
          });
      }
    </script>
  </body>
</html>
