{% comment %}
<!-- myapp/templates/signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        
        <h1>Select Role:</h1>
        <label for="admin">Admin</label>
        <input type="checkbox" id="admin" name="role" value="admin" required>
        
        <label for="student">Student</label>
        <input type="checkbox" id="student" name="role" value="student" required>
        
        <label for="hiring_manager">Hiring Manager</label>
        <input type="checkbox" id="hiring_manager" name="role" value="hiring_manager" required>
        
      
       

        <br>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
{% endcomment %}
