/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: black;
    color: white;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 1.3em;
}

main {
    padding: 2em;
}

h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

label {
    font-size: 1.5em;
    color: black;
}

h3 {
    font-size: 2em;
}

.signup-box {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

input {
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: black;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

.search-box {
    margin-top: 2em;
    text-align: center;
}

/* Adjustments */
.signup-box {
    text-align: center; /* Center align content */
    margin-left: 0; /* Remove margin-left */
}

/* CSS styles for checkboxes */
input[type="checkbox"] {
    display: inline-block; /* Display checkboxes inline */
    margin-right: 0.5em; /* Add some spacing between checkboxes and labels */
    vertical-align: middle; /* Align checkboxes vertically with labels */
    /* Add more styles as needed */
}

/* Additional styles for labels next to checkboxes */
label {
    display: inline-block; /* Ensure labels are inline with checkboxes */
    vertical-align: middle; /* Align labels vertically with checkboxes */
    margin-bottom: 0.5em; /* Add some spacing below labels */
}